@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #f6f7f8 4%, #edeef1 25%, #f6f7f8 36%);
  background-size: 1000px 100%;
}

@keyframes silver-shimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.silver-gradient {
  background: linear-gradient(90deg, 
    #e2e2e2 0%,
    #dbdbdb 20%,
    #d1d1d1 40%,
    #cccccc 60%,
    #c8c8c8 80%,
    #e2e2e2 100%
  );
  background-size: 200% 100%;
}

.animate-silver {
  animation: silver-shimmer 7s ease-in-out infinite;
}

:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  opacity: 0.7;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 700;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--gray-dark);
    background-color: #ffffff;
  }
  a:hover {
    opacity: 0.7;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Custom Scrollbar Styles */

/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color for light theme */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color for light theme */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover for light theme */
}

/* For dark theme */
.dark-theme ::-webkit-scrollbar-track {
  background: #222222; /* Track color for dark theme */
}

.dark-theme ::-webkit-scrollbar-thumb {
  background: #444; /* Thumb color for dark theme */
}

.dark-theme ::-webkit-scrollbar-thumb:hover {
  background: #666; /* Thumb color on hover for dark theme */
}

/* For Firefox */
.scrollbar {
  scrollbar-width: thin; /* Make scrollbar thin */
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color for light theme */
}

/* Dark theme styles for Firefox */
.dark-theme .scrollbar {
  scrollbar-color: #444 #222222; /* Thumb color and track color for dark theme */
}

.no-hover:hover {
  opacity: 1;
}
